@media(min-width: 980px) {
    body {
	padding-top:60px;
    }
}

body {
    padding-top: 20px;
    padding-bottom: 40px; 
}
container {
    width: 960px;
}
.heading,.subheading {
    text-align: center;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 24px;
}

/*Video, actions, etc*/
.pitch {
    padding: 2.5% 0;
} 
.order {
    padding: 2% 0;
}
.navigation,.pitch,.section1,.section2,.faq,footer {
    padding: 10px 0 10px 0;
}
.video,.thermometer,.order,.social {
    border: 1px dotted;
    text-align: center;
}
.video {
    height: 124px;
    line-height: 124px;
}
.thermometer,.social,.order {
    height: 40px;
    line-height: 40px;
}
div.row {
    border: 1px solid;
}